<!-- login.component.html
<div class="login-wrap">
	<div class="login-html">
	  <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
	  <label for="tab-1" class="tab">Sign In</label>
	  <input id="tab-2" type="radio" name="tab" class="sign-up">
	  <label for="tab-2" class="tab"></label>
	  <div class="login-form">
		<div class="sign-in-htm"><br>
		   Add ngModel binding for two-way data binding 
		  <div class="group">
			<label for="user" class="label">Username</label>
			<input id="user" type="text" class="input" [(ngModel)]="username">
		  </div><br>
		  <div class="group">
			<label for="pass" class="label">Password</label>
			<input id="pass" type="password" class="input" data-type="password" [(ngModel)]="password">
		  </div><br>
		  <div class="group">
			<button  type="submit" class="button" value="Sign In" (click)="login()" >Login</button>
		  </div>
		  <div class="hr"></div>
		</div>
		
	  </div>
	</div>
  </div>


 -->



	<!--
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.username">
					<input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">>
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password">>
					<button (click)="onsignup()">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" [(ngModel)]="loginObj.username">
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]="loginObj.password">
					<button (click)="onlogin()" (click)="gotopage('bussiness')">Login</button>
				</form>
			</div>
	</div>
-->